<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ballerina-Kubernetes-Test-Suite">
    <test name="ballerina-kubernetes-sample-tests" parallel="false">
        <groups>
            <run>
                <exclude name="integration"/>
            </run>
        </groups>
        <classes>
            <class name="io.ballerina.c2c.test.docker.DockerGeneratorTests"/>
            <class name="io.ballerina.c2c.test.docker.DockerGeneratorNegativeTests"/>
            <class name="io.ballerina.c2c.test.docker.DockerCMDTest"/>
            <class name="io.ballerina.c2c.test.docker.DockerInvalidCopyTest"/>
            <class name="io.ballerina.c2c.test.docker.DockerGeneratorWindowsTests"/>
            <class name="io.ballerina.c2c.test.docker.testing.BalTestCMDOptionsTests"/>
            <class name="io.ballerina.c2c.test.samples.JobTest"/>
            <class name="io.ballerina.c2c.test.samples.Sample1Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample2Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample3Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample4Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample5Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample6Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample7Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample8Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample9Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample10Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample11Test"/>
            <class name="io.ballerina.c2c.test.samples.Sample12Test"/>
            <class name="io.ballerina.c2c.test.samples.NativeTest"/>
            <class name="io.ballerina.c2c.test.samples.NativeArgsTest"/>
            <class name="io.ballerina.c2c.test.samples.NativeBaseTest"/>
            <class name="io.ballerina.c2c.test.samples.NativeBuilderConfigTest"/>
            <class name="io.ballerina.c2c.test.samples.NativeImplicitArgsTest"/>
            <class name="io.ballerina.c2c.test.samples.DockerProjectTest"/>
            <class name="io.ballerina.c2c.test.samples.DockerSingleTest"/>
            <class name="io.ballerina.c2c.test.SettingsMultiYAMLTest"/>
            <class name="io.ballerina.c2c.test.SettingsFatJarTest"/>
            <class name="io.ballerina.c2c.test.MultipleConfigTest"/>
            <class name="io.ballerina.c2c.test.MixedConfigTest"/>
            <class name="io.ballerina.c2c.test.MixedConfigJobTest"/>
            <class name="io.ballerina.c2c.test.ServiceExtractionTest"/>
            <class name="io.ballerina.c2c.test.JobTest"/>
            <class name="io.ballerina.c2c.test.EnvTest"/>
            <class name="io.ballerina.c2c.test.CustomDiagnosticsTest"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidServicePath"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidResourcePath"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidResourcePathEmpty"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidResourcePathEquals"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidPort"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidPortEmptyProbeExist"/>
            <class name="io.ballerina.c2c.test.codeactions.diagnostic.InvalidPortProbeExist"/>
            <class name="io.ballerina.c2c.test.codeactions.CloudEnvTest"/>
            <class name="io.ballerina.c2c.test.codeactions.CloudProbesTest"/>
            <class name="io.ballerina.c2c.test.codeactions.CloudProbesNegTest"/>
            <class name="io.ballerina.c2c.test.codeactions.AddToCloudNoneK8sTest"/>
            <class name="io.ballerina.c2c.test.completion.CloudTest"/>
            <class name="io.ballerina.c2c.test.completion.BallerinaTest"/>
            <class name="io.ballerina.c2c.test.command.CreateCloudTomlCommandTest"/>
            <class name="io.ballerina.c2c.test.docker.CmdTest"/>
            <class name="io.ballerina.c2c.test.ServiceTest"/>
            <class name="io.ballerina.c2c.test.choreo.PlainMainTest"/>
            <class name="io.ballerina.c2c.test.choreo.PlainServiceTest"/>
            <class name="io.ballerina.c2c.test.choreo.DiagnosticsTest"/>
            <class name="io.ballerina.c2c.test.ComplexPackageNameTest"/>
        </classes>
    </test>
</suite>
